{% extends 'user_login/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <p>Buna ziua, Domnule</p>
      {{ user.pk }}
      {{ user.username }}
      <!--<img src="{{ user.user_profile.user_picture }}" alt="">-->
      {{ user.user_profile.user_picture }}

      <hr>
      {% for file in files %}
        <p>
          {{ file }}
          <form id="delete-{{ file }}"
                action="{% url 'mypage:delete_file' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="file" value="{{file}}">
            <button type="submit" form="delete-{{ file }}">
              X
            </button>
          </form>
        </p>
      {% endfor %}
      <hr>
      <p>Incarcare fisier nou:</p>

        <form method="POST" enctype="multipart/form-data">
            {{ upload_form.as_p }}
            {% csrf_token %}
            <input type = "submit" name="clic" value="here">
        </form>

      <a href="upload file"></a>
    </div>
  </div>
{% endblock %}
