{% extends 'user_login/base.html' %}
{% block body_block %}
<style>

  body {
    background-color: #F5F5F5;
  }

  #my-nav {
    background-color: #297B80 !important;
  }

  .file-div {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 6px black !important;
    background-color: #C9C9C9;
  }

  #cont {
    padding-top: 2vh;
  }

  i {
    display: inline;
  }

  .dispinline {
    display: inline !important;
  }

  .dir-icon-div {
    font-size: 3em;
  }

  .file_icon-div {
    font-size: 3em;
  }

  .file-buttons-div {
    display: inline !important;
  }

  .file-info-div {
    display: inline !important;
  }

  .top-desc {
    display: flex;
  }

  .top-left {
    margin-right: auto;
    display: inline;
  }

  .top-right {
    display: inline;
  }

  .profile-pic {
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
  }

</style>
<div id="cont" class="container pt5">

    <div class="top-desc">
      <div class="top-left">
        <strong>Director curent: \{{ path }}</strong>
        <p>Buna ziua, Domnule {{ user.username }}</p>
      </div>
      <div class="top-right">
        {% if user.user_profile.user_picture %}
        <img class="profile-pic" src="{{ user.user_profile.user_picture.url }}" alt="Nu o vad">
        {% else %}
        <img class="profile-pic" src="{{ default_profile_pic_url }}" alt="Nu o vad">
        {% endif %}
      </div>
    </div>

    <hr>

    {% for file in vault_files %}
    <div class="file-div">
      <div class="file-buttons-div">
        <div class="file_icon-div">

          {% if file.file_type == 'audio' %}
          <i class="fas fa-file-audio"></i>
          {% elif file.file_type == 'image' %}
          <i class="fas fa-file-image"></i>
          {% elif file.file_type == 'video' %}
          <i class="fas fa-file-video"></i>
          {% elif file.file_type == 'word' %}
          <i class="fas fa-file-word"></i>
          {% elif file.file_type == 'power' %}
          <i class="fas fa-file-powerpoint"></i>
          {% elif file.file_type == 'pdf' %}
          <i class="fas fa-file-pdf"></i>
          {% elif file.file_type == 'excel' %}
          <i class="fas fa-file-excel"></i>
          {% elif file.file_type == 'code' %}
          <i class="fas fa-file-code"></i>
          {% elif file.file_type == 'archive' %}
          <i class="fas fa-file-archive"></i>
          {% else %}
          <i class="fas fa-file"></i>
          {% endif %}
        </div>
        <p>
          {{ file }}
        </p>
        <form class="dispinline" id="delete-{{ file }}"
              action="{% url 'mypage:delete_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">
          <button class="btn btn-primary" type="submit" form="delete-{{ file }}">
            <i class="fas fa-trash"></i>
          </button>
        </form>

        <form class="dispinline" id="download-{{ file }}"
              action="{% url 'mypage:download_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">

          <button class="btn btn-primary" type="submit" form="download-{{ file }}">
            <i class="fas fa-download"></i>
          </button>
        </form>
        <form class="dispinline" id="copy_file-{{ file }}"
              action="{% url 'mypage:copy_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">

          <button class="btn btn-primary" type="submit" form="copy_file-{{ file }}">
            <i class="fas fa-copy"></i>
          </button>
        </form>
        {% if file.encrypted is False %}
        <form class="dispinline" id="encrypt-{{ file }}"
              action="{% url 'mypage:encrypt_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">

          <button class="btn btn-primary" type="submit" form="encrypt-{{ file }}">
            Encrypt file
          </button>
        </form>
        {% endif %}

        {% if file.encrypted is True %}
        <form class="dispinline" id="decrypt-{{ file }}"
              action="{% url 'mypage:decrypt_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">

          <button class="btn btn-primary" type="submit" form="decrypt-{{ file }}">
            Decrypt file
          </button>
        </form>

        <form class="dispinline" id="dec-download-{{ file }}"
              action="{% url 'mypage:dec-download_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">

          <button class="btn btn-primary" type="submit" form="dec-download-{{ file }}">
            Download decrypted
          </button>
        </form>

        {% endif %}

        <form id="unhide-{{ file }}"
              action="{% url 'mypage:unhide_file' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="file" value="{{ file }}">
          <input type="hidden" name="path" value="{{ path }}">

          <button class="btn btn-primary" type="submit" form="unhide-{{ file }}">
            <i class="fas fa-eye"></i>
          </button>
        </form>

      </div>
      <div class="file-info-div">
        <p>
          Upload time: {{ file.upload_time }}
        </p>
        <p>
          File size: {{ file.size }}
        </p>
      </div>

    </div>
    {% endfor %}
  </div>

{% endblock %}
